<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %level %logger{32} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.context.annotation.AnnotationConfigApplicationContext" level="WARN"/>
    <logger name="org.apache.cxf.wsdl.service.factory.ReflectionServiceFactoryBean" level="WARN"/>
    <logger name="org.apache.cxf.endpoint.ServerImpl" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>